<%- include("partials/header.ejs") -%>
<link href="/styles.css" rel="stylesheet" />

  <body class="bg-dark text-danger text-center">
    <h1>Exercises</h1>
    

    <div class="container-fluid">
      <div class="row cw">
        <% if (rworkout[0] == null){ %>
        <h2>No results</h2>
        <% }else{ %> <% for(var i = 0; i < rWorkout[0].length; i++){ %>
        <div class="col-lg-4">
          <div
            id="cards"
            class="card text-center text-dark bg-danger mb-3"
            style="max-width: 18rem"
          >
            <div class="card-header">
              <h2><%= workout[0][i].name %></h2>
            </div>
            <div class="card-body">
              <h4 class="card-title"><%= rworkout[0][i].equipment %></h4>
              <h4 class="card-text"><%= rworkout[0][i].target %></h4>
              <img
                class="card-text"
                src="<%= workout[0][i].gifUrl %>"
                width="200"
              />
            </div>
          </div>
        </div>
        <% } %> <% } %>
      </div>
    </div>
  </body>
  <footer class="footer navbar-fixed-bottom">
<form action="/result" method="post">
    <button class="w-100 btn btn-lg btn-danger text-dark fade-in-text" type="submit" name="back">
      Go Back
    </button>
</form>
</footer>
</html>
