<%- include("partials/header.ejs") -%>
<link href="/styles.css" rel="stylesheet" />
<body class="h-100 text-center text-light bgs">
  <h1>Today's Workout</h1>
  <div class="search">
    <div class="container-fluid">
      <div class="row cw">
        <% if (daily[0] == null){ %>
        <h2>No results</h2>
        <% }else{ %> <% for(var i = 0; i < daily.length; i++){ %>
        <div class="col-lg-4">
          <div
            id="cards"
            class="card text-center text-dark bg-light mb-3"
            style="max-width: 18rem"
          >
            <div class="card-header">
                <form action="/dailyFavorites" method="post">
                    <button type="submit" name="favoriteBtn" value= "<%= i %>" class="btn btn-outline-dark star"><i class="fas fa-star"></i></button>
                  </form>
              <h2><%= daily[i].name %></h2>
            </div>
            <div class="card-body">
              <h4 class="card-title"><%= daily[i].equipment %></h4>
              <h4 class="card-text"><%= daily[i].target %></h4>
              <img
                class="card-text"
                src="<%= daily[i].gifUrl %>"
                width="200"
              />
              <form action="/removeWorkout" method="post">
                  <button type="submit" value= "<%= daily[i].id %>"" class="btn btn-outline-dark" name="removeBtn">Remove</button>
                  </form>
            </div>
          </div>
        </div>
        <% } %> <% } %>
      </div>
    </div>
  </div>
</body>
