<%- include("partials/header.ejs") -%>
<link href="/styles.css" rel="stylesheet" />

<body class=" text-center text-light bgs">
    <div class="newLogData">
  
<h1 class=" h-75 title bg-danger rounded-3">Log</h1>

<button class="newLogBtn btn btn-lg btn-danger" id="newLogBtn" onclick="openForm()">New Log</button>
<div class="newLog">
    <div class="form-popup bg-dark" id="myForm">
        <form action="/addLog" method="post" class="form-container">
            <h2 class="h3 mb-3 fw-normal">Add Log</h2>
        
            <div class="form-floating">
              <input
                name="newLogTitle"
                type="text"
               placeholder="Title"
                id="floatingInput"
              />
              
            </div>
            <div class="form-floating">
              <textarea
                name="newLogBody"
                type="text"
                id="floatingPassword"
                placeholder="Body"
               rows="5" cols="50"
              ></textarea>
         
            </div>
           
            <button class=" btn btn-lg btn-danger" type="submit">Save</button>
            <button type="button" class="closeLogBtn btn btn-lg btn-light" onclick="closeForm()">Cancel</button>
          </div>
        </form>
      </div>
      <div class="newLog">
        <div class="form-popup bg-dark" id="myEditForm">
            <form action="/editLog" method="post" class="form-container">
                <h2 class="h3 mb-3 fw-normal">Edit Log</h2>
            
                <div class="form-floating">
                  <input
                    name="newLogTitle"
                    type="text"
                   placeholder="Title"
                    id="floatingInput"
                    required
                  />
                  
                </div>
                <div class="form-floating">
                  <textarea
                    name="newLogBody"
                    type="text"
                    id="floatingPassword"
                    placeholder="Body"
                   rows="5" cols="50"
                  ></textarea>
             
                </div>
               
                <button class=" btn btn-lg btn-danger" id="saveBtn" name="saveButton" onclick="closeEditForm()" type="submit">Save</button>
                <button type="button" class="closeLogBtn btn btn-lg btn-light"id="cancelButton" onclick="closeEditForm()">Cancel</button>
              </div>
            </form>
          </div>
<div class="container-fluid data">
    <div class="row cw">
      <% if (logs[0][0] == null){ %>
      <h2>No results</h2>
      <% }else{ %> <% for(var i = 0; i < logs[0].length; i++){ %>
      <div class >
        <div
          id="cards"
          class="card text-center text-light bg-danger "
          style=
        >
          <div class=" card-header">
            <h2><%= logs[0][i].title %></h2>
          </div>
          <div class="card-body">
            <h4 class="card-title"><%= logs[0][i].body %></h4>
            <h6 class="card-title"><%= logs[0][i].date %></h6>     
            <button value= "<%= logs[0][i].id %>" class="btn btn-outline-dark text-light" id="editButton<%= i %>" onclick="openEditForm(this.id)" name="editBtn">Edit</button>
            <form action="/removeLog" method="post">
                <button type="submit" value= "<%= logs[0][i].id %>" class="btn btn-outline-dark text-light" name="removeBtn">Remove</button>
                </form>  
          </div>
        </div>
        <br />
      </div>
     
      <% } %>  <% } %>
    </div>
  </div>
  </div>
</div>

  <script>
      //open new log form
    function openForm() {
        //shows log form
      document.getElementById("myForm").style.display = "block";
      // hide new log button
     this.disabled = true

    }
    
    function closeForm() {
        // hide new log form
      document.getElementById("myForm").style.display = "none";
      // show new log button
      document.getElementById("newLogBtn").style.display = "block";
    }

    function openEditForm(clicked_id) {
        // get value of edit button that was clicked
clickedButtonId = clicked_id;
    var value = document.getElementById(clickedButtonId).value;
    console.log(value)
//set save button value
    var s = document.getElementById("saveBtn");
            s.value = value;
            // hide edit form log
      document.getElementById("myEditForm").style.display = "none";
    // show edit log form
    console.log(document.getElementById("saveBtn").value)
      document.getElementById("myEditForm").style.display = "block";
    }

    function closeEditForm() {
// hides edit form
      document.getElementById("myEditForm").style.display = "none";
    }

    </script>

</body>
</html>

