<%- include("partials/header.ejs") -%>
<link href="/styles.css" rel="stylesheet" />
<body class="h-100 text-center text-light bgs">
  <div class="search">
    <div class="form-box p-5 mb-4 bg-dark rounded-3">
      <h1>Randomize</h1>
      <form action="/random" method="post">
        <div>
          <select
            id="equip"
            name="bodyPart"
            class="form-control-lg"
            style="width: 100%"
            required
          >
            <option disabled selected value="">Body Part</option>
            <option value="waist">Abs</option>
            <option value="back">Back</option>
            <option value="cardio">Cardio</option>
            <option value="chest">Chest</option>
            <option value="arms">Arms</option>
            <option value="legs">Legs</option>
            <option value="shoulders">Shoulders</option>
          </select>
        </div>
        <div>
          <select
            name="num"
            class="custom-select mr-sm-2 form-control-lg"
            id="inlineFormCustomSelect"
            style="width: 100%"
            required
          >
            <option disabled selected>How many exercises?</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
          </select>
        </div>
        <button class="w-100 btn btn-lg btn-warning text-dark" type="submit">
          Generate Workout
        </button>
      </form>
    </div>
  </div>
  <div class="container-fluid center">
    <div class="row">
      <% if (rworkout[0] == null){ %>
      <h2>No results</h2>
      <% }else{ %> <% for(var i = 0; i < rworkout.length; i++){ %>
      <div class="col-lg-4">
        <div
          id="cards"
          class="card text-center text-dark bg-warning mb-3"
          style="max-width: 18rem"
        >
          <div class="card-header">
            <% if (name != "") { %>
            <form action="/randomFavorites" method="post">
              <button
                type="submit"
                name="favoriteBtn"
                value="<%= i %>"
                class="btn btn-outline-dark star"
              >
                <i class="fas fa-star"></i>
              </button>
            </form>
            <% } %>
            <h2><%= rworkout[i].name %></h2>
          </div>
          <div class="card-body">
            <h4 class="card-title"><%= rworkout[i].equipment %></h4>
            <h4 class="card-text"><%= rworkout[i].target %></h4>
            <img
              class="card-text"
              src="<%= rworkout[i].gifUrl %>"
              width="200"
            />
            <% if (name != "") { %>
            <form action="/randomDaily" method="post">
              <button
                type="submit"
                name="dailyBtn"
                value="<%= i %>"
                class="btn btn-outline-dark"
              >
                Add to Workout
              </button>
            </form>
            <% } %>
          </div>
        </div>
      </div>
      <% } %> <% } %>
    </div>
  </div>
</body>
