<%- include("partials/header.ejs") -%>
<link href="/styles.css" rel="stylesheet" />
  <body class=" h-100 text-center text-light bgs" >
    <div class="search ">
      <div class="form-box p-5 mb-4 bg-dark rounded-3">
    <h1>Search Workout</h1>
    <form action="/search" method="post">
      <div>
        <select id="equip" name="bodyPart" class="form-control-lg" style="width: 100%;">
          <option  selected value="">Body Part</option>
          <option value="back">back</option>
          <option value="cardio">cardio</option>
          <option value="chest">chest</option>
          <option value="lower arms">lower arms</option>
          <option value="lower legs">lower legs</option>
          <option value="neck">neck</option>
          <option value="shoulders">shoulders</option>
          <option value="upper arms">upper arms</option>
          <option value="upper legs">upper legs</option>
          <option value="waist">waist</option>
        </select>
      </div>
      <div>
        <select id="equip" name="target" class="form-control-lg" style="width: 100%;">
          <option  selected value="">Target Muscle</option>
          <option value="abductors">abductors</option>
          <option value="abs">abs</option>
          <option value="adductors">adductors</option>
          <option value="biceps">biceps</option>
          <option value="calves">calves</option>
          <option value="cardiovascular system">cardiovascular system</option>
          <option value="delts">delts</option>
          <option value="forarms">forarms</option>
          <option value="glutes">glutes</option>
          <option value="hamstrings">hamstrings</option>
          <option value="lats">lats</option>
          <option value="leator scapulae">leator scapulae</option>
          <option value="pectorals">pectorals</option>
          <option value="quads">quads</option>
          <option value="serratus anterior">serratus anterior</option>
          <option value="spine">spine</option>
          <option value="traps">traps</option>
          <option value="triceps">triceps</option>
          <option value="upper back">upper back</option>
        </select>
      </div>
      <div>
        <select id="equip" name="equipment" class="form-control-lg" style="width: 100%;">
          <option selected value="">Equipment</option>
          <option value="assisted">assisted</option>
          <option value="band">band</option>
          <option value="barbell">barbell</option>
          <option value="body weight">body weight</option>
          <option value="bosu ball">bosu ball</option>
          <option value="cable">cable</option>
          <option value="dumbbell">dumbell</option>
          <option value="elliptical machine">elliptical machine</option>
          <option value="ez barbell">ez barbell</option>
          <option value="hammer">hammer</option>
          <option value="kettlebell">kettlebell</option>
          <option value="leverage machine">leverage machine</option>
          <option value="medicine ball">medicine ball</option>
          <option value="olympic barbell">olympic barbell</option>
          <option value="resistance band">resistance band</option>
          <option value="roller">roller</option>
          <option value="rope">rope</option>
          <option value="skierg machine">skierg machine</option>
          <option value="sled machine">sled machine</option>
          <option value="smith machine">smith machine</option>
          <option value="stability ball">stability ball</option>
          <option value="stationary bike">stationary bike</option>
          <option value="stepmill machine">stepmill machine</option>
          <option value="tire">tire</option>
          <option value="trap bar">trap bar</option>
          <option value="upper body ergometer">upper body ergometer</option>
          <option value="weighted">weighted</option>
          <option value="wheel roller">wheel roller</option>
        </select>
      </div>
      <button class="w-100 btn btn-lg btn-danger text-dark" type="submit">Search</button>
    </form>
  </div>
  <div class="container-fluid">
    <div class="row cw">
      <% if (workout[0] == null){ %>
      <h2>No results</h2>
      <% }else{ %> <% for(var i = 0; i < workout[0].length; i++){ %>
      <div class="col-lg-4">
        <div
          id="cards"
          class="card text-center text-dark bg-light mb-3"
          style="max-width: 18rem"
        >
          <div class="card-header">
            <h2><%= workout[0][i].name %></h2>
          </div>
          <div class="card-body">
            <h4 class="card-title"><%= workout[0][i].equipment %></h4>
            <h4 class="card-text"><%= workout[0][i].target %></h4>
            <img
              class="card-text"
              src="<%= workout[0][i].gifUrl %>"
              width="200"
            />
            <form action="/searchFavorites" method="post">
              <button type="submit" name="favoriteBtn" value= "<%= i %>"" class="btn btn-outline-dark">favorite</button>
              </form>
          </div>
        </div>
      </div>
      <% } %> <% } %>
    </div>
  </div>
</div>
  </body>
</html>
